* {
    margin: 0;
    font-family: "Poppins";
}

body {
    background: linear-gradient(rgba(230, 217, 217, 0.5), rgba(5, 5, 5, 0.637)), url("../Images/nadunborder4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.fullbody {
    height: auto;
}

.navbar {
    z-index: 100;
    margin-top: 7px;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: -2%;
    top: -2%;
    margin-bottom: 16%;
}

.navbar .logo {
    float: left;
}

.logo a img {
    margin-left: 30px;
    width: 150px;
}

.links {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.indi_links {
    text-align: center;
    padding-top: 16%;
    vertical-align: middle;
}

.indi_links a {
    font-size: 130%;
    font-weight: bold;
    padding: 2%;
    color: black;
    text-decoration: none;
}

.bottum_line {
    background-color: yellow;
    height: 3px;
    width: 0%;
    margin: auto;
    transition: 0.2s;
}

.indi_links a:hover .bottum_line {
    width: 100%;
}

#quizNvbar {
    color: yellow;
}

.stu_pages {
    position: absolute;
    top: 64px;
    left: 65%;
    background-color: wheat;
    height: 0%;
    display: none;
    z-index: 2;
    transition: 0.5s;
}

.stu_pages a,
.font_btns a {
    color: yellow;
    text-decoration: none;
}

div>li {
    list-style-type: none;
}

#downarrow,
#downarrow2 {
    color: yellow;
    transition: 0.2s;
}

.quote {
    width: 80%;
    font-size: 50px;
    margin-left: 3%;
    margin-bottom: 5%;
    color: white;
    margin-top: -15%;
}

.yellow_up_txt {
    color: rgb(241, 241, 44);
    font-size: 80px;
    text-transform: uppercase;
}

#xplr {
    color: rgb(241, 241, 44);
}

#author {
    color: rgb(248, 248, 63);
    font-size: 30px;
}

#pen {
    font-size: 25px;
}

.font_btns {
    position: absolute;
    top: 64px;
    right: 11%;
    background-color: wheat;
    height: 0%;
    display: none;
    z-index: 2;
    transition: 0.5s;
}

#edited_by {
    width: 15%;
    color: yellow;
    display: grid;
    grid-template-columns: 73% 112%;
    font-size: 177%;
    padding-top: 3%;
    margin-left: 3%;
    padding-bottom: 3%;
}

#me {
    width: 245%;
    border-radius: 50%;
    font-size: 67%;
    padding-top: 7%;
    margin-left: -50%;
}

hr {
    position: absolute;
    background-color: yellow;
    z-index: 50;
    top: -11%;
    left: 48%;
    height: 4px;
    width: 39px;
    margin: auto;
    border: none;
}

#downarrow_menu1,
#downarrow_menu2 {
    display: none;
}

.subject_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
}

.card {
    text-align: left;
    background-color: black;
    margin: 23px;
    transition: 0.5s ease-in-out;
}

.card_h {
    font-size: 280%;
    transition: 0.2s;
}

.inner_txt {
    color: white;
    top: -22%;
    position: relative;
    left: 5%;
    transition: 0.2s;
}

.card_image {
    width: 100%;
    height: 100%;
    opacity: .8;
    transition: .2s;
}

.inner_quote {
    transform: scale(0, 0);
    transition: 0.1s;
    position: relative;
    top: -49vh;
    color: aliceblue;
    font-size: 19px;
    text-align: center;
    padding: 4%;
}

.card_author {
    color: yellow;
    font-style: italic;
}

.card:hover .card_image {
    opacity: .4;
}

.card:hover .inner_quote {
    transform: scale(1, 1);
}

.card:hover .card_h {
    transform: scale(0, 0);
}


/*Footerrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/

.inner_footer {
    display: grid;
    grid-template-columns: 25% 18% 32% 24%;
    grid-gap: 20px;
    padding: 20px 30px 20px 20px;
    background-color: rgba(58, 58, 53, 0.849);
    ;
}

#sitemap_list {
    list-style-type: none;
    color: white;
}

#sitemap_list li:hover {
    color: yellow;
}

li a:hover {
    color: yellow;
}

.contactus {
    margin-right: 45px;
}

.contactus p {
    text-align: center;
}

p a {
    color: white;
}

.footer_headers {
    color: yellow;
    padding: 17px;
}

.aboutsite p {
    text-align: center;
    padding: 0px 25px 25px 25px;
    font-size: 17px;
    color: white;
}

#txt {
    color: black;
    margin-left: 79%;
    font-size: 22px;
}

#name {
    color: white;
    font-size: 110%;
}

li a {
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

#sizeNum {
    padding-left: 30%;
    font-size: 145%;
}